<div ng-controller="ActorController">
    <form id="form" name="form">
        <fieldset>
            <legend>{{currentActor.id ? "Edit": "Create" }} Actor</legend>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="firstname">First name</label>
                    <input id="firstname" required type="text" ng-model="currentActor.birthname" placeholder="Enter first name here..." class="form-control"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="lastname">Last name</label>
                    <input id="lastname" required type="text" ng-model="currentActor.name" placeholder="Enter last name here..." class="form-control"/>
                </div>
                <!--<div class="form-group col-md-6" ng-controller="DatePickerController">
                    <label for="releaseDate">Release date</label>
                    <table>
                        <tr>
                            <td>
                                <input id="releaseDate" class="form-control" type="text" datepicker-popup="{{format}}" ng-model="currentActor." is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>-->
                <div class="form-group col-md-6">
                    <label for="placeofbirth">Place of birth</label>
                    <input id="placeofbirth" required type="text" ng-model="currentActor.placeofbirth" placeholder="Enter place of birth here..." class="form-control"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="bio">Biography</label>
                    <input id="bio" required type="text" ng-model="currentActor.biographie" placeholder="Enter place of birth here..." class="form-control"/>
                </div>
            </div>
        </fieldset>
        <button id="save" ng-click="save()" ng-disabled="form.$invalid" class="btn btn-primary">Save Actor</button>
        <button id="cancel" ng-click="cancel()" class="btn">Cancel</button>
    </form>

    <div id="list">
        <fieldset>
            <legend>Genres</legend>
            <table id="table" class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Place of birth</th>
                    <th>Biography</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="actor in actors">
                    <td>{{actor.birthname}} {{actor.name}}</td>
                    <td>{{actor.placeofbirth}}</td>
                    <td>{{actor.biographie}}</td>
                    <td>
                        <button id="edit" ng-click="edit(actor)" class="btn btn-xs">Edit</button>
                    </td>
                    <td>
                        <button id="delete" ng-click="remove($index, actor.id)" class="btn btn-xs">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>